@media print {
  @page {
    size: portrait;
  }
  body {
    margin-left: -13mm;
    margin-top: 13%;    
  }
}

.UnderGrid {
  display: flex;
  flex-flow: row nowrap;
}

.SideBySide {
  display: flex;
  flex-flow: row nowrap;
  width: 1214px;
  margin-left: 50px;
  justify-content: space-between;
}

.Save {
  border: solid 3px black;
  width: 150px;
  height: 30px;
  border-radius: 8px;
  font-family: Pacifico;
  text-align: center;
  margin-right: 5px;
  background-color: beige;
}

.Save:hover {
  cursor: pointer;
  opacity: 0.6;
}

.Container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.Palette {
  position: absolute;
  float: right;
  height: 900px;
  width: 250px;
  border: solid 3px black;
  border-radius: 8px;
  margin-left: 1000px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  overflow-y: scroll;
}





.Color {
  border: solid 5px black;
  width: 50px;
  height: 50px;
  opacity: 1;
  padding: 0px;
  margin: 0px;
}

.Color:hover {
  opacity: 0.4;
  cursor: pointer;
}

.Grid {
  border: solid 1px black;
  max-height: 900px;
  max-width: 900px;
  display: grid;
  margin-left: 50px;
  grid-template-columns: repeat(60, 15px);
  grid-template-rows: repeat(6000,15px);
}

.cell {
  border: 1px solid lightskyblue;
  opacity: 1;
}

.cell:hover {
  opacity: 0.2;
  cursor: pointer;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

